<app-sid-bar></app-sid-bar>

<button nz-button nzType="primary" class="left" (click)="showModal()">Ajout Equipe</button>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Add User" (nzOnCancel)="handleCancel()" >
  <ng-container *nzModalContent>
  <form [formGroup]="registerForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label >nom </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" >
        <input nz-input formControlName="nom"  nzWidth="25%"id="firstName" />
      </nz-form-control> 
      <div style="display: block; font-size: 15px; color:rgb(236, 23, 23)"  *ngIf="(registerForm.controls['nom'].dirty || registerForm.controls['nom'].touched) " >
        <ng-container *ngIf="registerForm.controls['nom'].errors?.['required'] ; then TemplateUsernameInvalid"></ng-container>
        <ng-template #TemplateUsernameInvalid>
  
            nom is required
        </ng-template>
 
  
      </div>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label >logo</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" >
        <input class=" btn btn-fill btn-danger" accept="image/*" formControlName="logo" (change)="onFilechange($event)" type="file"  /> 
    </nz-form-control> 
      <div style="display: block; font-size: 15px; color:rgb(236, 23, 23)"  *ngIf="(registerForm.controls['logo'].dirty || registerForm.controls['logo'].touched) " >
        <ng-container *ngIf="registerForm.controls['logo'].errors?.['required'] ; then TemplateadresseInvalid"></ng-container>
        <ng-template #TemplateadresseInvalid>
  
            saison is required
        </ng-template>
 
  
      </div>
    </nz-form-item>
 
 
    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button class=" btn btn-fill btn-danger" type="submit" [disabled]="this.registerForm.invalid"  >Save</button>
      </nz-form-control>
    </nz-form-item>
  </form>
  

    </ng-container>
</nz-modal> 
<nz-modal [(nzVisible)]="isVisibleupdate" nzTitle="Add Equipe" (nzOnCancel)="handleCancelupdate()" >
  <ng-container *nzModalContent>
  <form [formGroup]="registerForm" (ngSubmit)="submitFormupdate()">
    <nz-form-item>
        <nz-form-label >nom </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" >
          <input nz-input formControlName="nom"  nzWidth="25%"id="firstName" />
        </nz-form-control> 
        <div style="display: block; font-size: 15px; color:rgb(236, 23, 23)"  *ngIf="(registerForm.controls['nom'].dirty || registerForm.controls['nom'].touched) " >
          <ng-container *ngIf="registerForm.controls['nom'].errors?.['required'] ; then TemplateUsernameInvalid"></ng-container>
          <ng-template #TemplateUsernameInvalid>
    
              nom is required
          </ng-template>
   
    
        </div>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label >logo</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" >
          <input class=" btn btn-fill btn-danger" accept="image/*" formControlName="logo" (change)="onFilechange($event)" type="file"  /> 
      </nz-form-control> 
        <div style="display: block; font-size: 15px; color:rgb(236, 23, 23)"  *ngIf="(registerForm.controls['logo'].dirty || registerForm.controls['logo'].touched) " >
          <ng-container *ngIf="registerForm.controls['logo'].errors?.['required'] ; then TemplateadresseInvalid"></ng-container>
          <ng-template #TemplateadresseInvalid>
    
              saison is required
          </ng-template>
   
    
        </div>
      </nz-form-item>
 
   
    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button class=" btn btn-fill btn-danger" type="submit" [disabled]="this.registerForm.invalid" >Save</button>
      </nz-form-control>
    </nz-form-item>
  </form>
  

    </ng-container>
</nz-modal> 
<div class="Marge">
<nz-table #editRowTable nzBordered nzTableLayout="fixed">
    <thead>
      <tr>
        <th nzWidth="40%">nom </th>
        <th nzWidth="40%">logo</th>
 

        <th>Action</th>

 


      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of equipe">
        <ng-container >
          <td>{{ data.nom }}</td>
          <td> 


            <img width="202" height="102"     alt="logo" src={{data.logo}} />

          </td>
 

          <td><a  (click)="showModalupdate(data)" >Edit</a> <br><a (click)="showConfirm(data.idEquipe)" >Delete</a></td>
        </ng-container>
 
      </tr>
    </tbody>
  </nz-table>

</div>