<app-sid-bar></app-sid-bar>

<button nz-button nzType="primary" class="left" (click)="showModal()">Ajout Categorie</button>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Add Categorie" (nzOnCancel)="handleCancel()" >
  <ng-container *nzModalContent>
  <form [formGroup]="registerForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label >label</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" >
        <input nz-input formControlName="label"  nzWidth="25%"id="firstName" />
      </nz-form-control> 
      <div style="display: block; font-size: 15px; color:rgb(236, 23, 23)"  *ngIf="(registerForm.controls['label'].dirty || registerForm.controls['label'].touched) " >
        <ng-container *ngIf="registerForm.controls['label'].errors?.['required'] ; then TemplateUsernameInvalid"></ng-container>
        <ng-template #TemplateUsernameInvalid>
  
            label is required
        </ng-template>
 
  
      </div>
    </nz-form-item>
 
 
 
    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button class=" btn btn-fill btn-danger" type="submit" [disabled]="this.registerForm.invalid"  >Save</button>
      </nz-form-control>
    </nz-form-item>
  </form>
  

    </ng-container>
</nz-modal> 
<nz-modal [(nzVisible)]="isVisibleupdate" nzTitle="Add Categorie" (nzOnCancel)="handleCancelupdate()" >
  <ng-container *nzModalContent>
  <form [formGroup]="registerForm" (ngSubmit)="submitFormupdate()">
    <nz-form-item>
        <nz-form-label >label</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" >
          <input nz-input formControlName="label"  nzWidth="25%"id="firstName" />
        </nz-form-control> 
        <div style="display: block; font-size: 15px; color:rgb(236, 23, 23)"  *ngIf="(registerForm.controls['label'].dirty || registerForm.controls['label'].touched) " >
          <ng-container *ngIf="registerForm.controls['label'].errors?.['required'] ; then TemplateUsernameInvalid"></ng-container>
          <ng-template #TemplateUsernameInvalid>
    
              label is required
          </ng-template>
   
    
        </div>
      </nz-form-item>
 
 
   
    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button class=" btn btn-fill btn-danger" type="submit" [disabled]="this.registerForm.invalid" >Save</button>
      </nz-form-control>
    </nz-form-item>
  </form>
  

    </ng-container>
</nz-modal> 
<div class="Marge">
<nz-table #editRowTable nzBordered nzTableLayout="fixed">
    <thead>
      <tr>
        <th nzWidth="40%">Label</th>
  

        <th>Action</th>

 


      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of categorie">
        <ng-container >
          <td>{{ data.label }}</td>
  

          <td><a  (click)="showModalupdate(data)" >Edit</a> <br><a (click)="showConfirm(data.idCategorie)" >Delete</a></td>
        </ng-container>
 
      </tr>
    </tbody>
  </nz-table>

</div>
