<div class="container">
 

    <div class="topnav">

        <a class="active"  >actulatié</a>
        <a routerLink="/actulatite">actulatié</a>

        <a routerLink="/sestemjeux" >System jeux</a>
        <a routerLink="/ajoutactulatite">Ajout actulatié</a>
        <div class="topnav-right">
          <a routerLink="/profil" >Profile</a>
          <a (click)="Logout()" >Logout</a>
        </div>
      </div>
      <div class="sidebar">
        <a >  <img [src]="image" alt="Snow" width="150px"></a> 
        <a routerLink="/ajoutproduit"><i class="fa fa-fw fa-home"></i>Produit</a>
        <a routerLink="/ajoutstade"><i class="fa fa-fw fa-wrench"></i> Stade</a>
        <a routerLink="/gestionusers"><i class="fa fa-fw fa-wrench"></i>  Gestion Users</a>
        <a routerLink="/ajoutmatch"><i class="fa fa-fw fa-wrench"></i>  Match </a>
          <a routerLink="/ajoutequipe"><i class="fa fa-fw fa-wrench"></i> Equipe </a>
        <a routerLink="/ajoutLigue"><i class="fa fa-fw fa-wrench"></i> Ligue </a>
        <a routerLink="/marque"><i class="fa fa-fw fa-wrench"></i> Marque </a>
        <a routerLink="/categorie"><i class="fa fa-fw fa-wrench"></i> Categorie </a>

        <a routerLink="/exercice"><i class="fa fa-fw fa-wrench"></i> Exercice </a>
        <a routerLink="/formation"><i class="fa fa-fw fa-wrench"></i> Formation </a>

      </div>
    
 
       
     
</div>